<form action="{% url 'search' %}" method="get" enctype="multipart/form-data">
    <input type="text" name="q" placeholder="Search candidates..." value="{{ query }}">
    <button type="submit">Search</button>
</form>
<ul>
    {% for candidate in candidates %}
        <li>
            <h2>{{ candidate.username }}</h2>
            <img src="{{ candidate.photo.url }}" width="200" height="150">
            <p> Email: {{ candidate.email }}</p>
            <p> Phone: {{ candidate.phone_number }}</p>
            <p> Gender: {{ candidate.gender }}</p>
        </li>
    {% endfor %}
</ul>
<div class="pagination">
        <span class="step-links">
            {% if candidates.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ candidates.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ candidates.number }} из {{ candidates.paginator.num_pages }}.
            </span>

            {% if candidates.has_next %}
                <a href="?page={{ candidates.next_page_number }}">Следующая</a>
                <a href="?page={{ candidates.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
