<h1>Basket Items</h1>
<a href="{% url 'create_an_item' %}">Add New Item</a>
<ul>
    {% for item in items %}
        <li>
            <h2>Buyer: {{ item.user }}</h2>
            <p>Product: {{ item.product }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Created At: {{ item.created_at }}</p>
                <p>
                    <a href="{% url 'update_an_item' item.id %}">Edit</a> |
                    <a href="{% url 'delete_an_item' item.id %}">Delete</a>
                </p>
        </li>
    {% endfor %}
</ul>
<div class="pagination">
        <span class="step-links">
            {% if items.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ items.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ items.number }} из {{ items.paginator.num_pages }}.
            </span>

            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}">Следующая</a>
                <a href="?page={{ items.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>